Repository ludeeus/pyhaversion: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, check-ast, check-docstring-first, check-json, check-toml, pytest

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        types: [python]
        entry: poetry run black . --check
        pass_filenames: false
        stages: [commit, push, manual]
      - id: isort
        name: isort
        language: system
        types: [python]
        entry: poetry run isort . --check
        pass_filenames: false
        stages: [commit, push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: poetry run check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-docstring-first
        name: Check docstring is first
        language: system
        types: [python]
        entry: poetry run check-docstring-first
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: poetry run detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: poetry
        name: Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pytest
        name: Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: poetry run pytest --cov pyhaversion tests
        pass_filenames: false
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [commit, push, manual]

Simplify handling of data
  pyhaversion/base.py
  pyhaversion/consts.py
  pyhaversion/container.py
  pyhaversion/haio.py
  pyhaversion/local.py
  pyhaversion/pypi.py
  pyhaversion/supervisor.py
  pyhaversion/version.py
  tests/test_container.py
  tests/test_local.py
  tests/test_pypi.py
  tests/test_supervisor.py
Due: black, isort, check-ast, check-docstring-first, pytest

Simplify handling of data (#153)
  pyhaversion/base.py
  pyhaversion/consts.py
  pyhaversion/container.py
  pyhaversion/haio.py
  pyhaversion/local.py
  pyhaversion/pypi.py
  pyhaversion/supervisor.py
  pyhaversion/version.py
  tests/test_container.py
  tests/test_local.py
  tests/test_pypi.py
  tests/test_supervisor.py
Due: black, isort, check-ast, check-docstring-first, pytest

format
  tests/conftest.py
  tests/test_container.py
Due: black, isort, check-ast, check-docstring-first, pytest

Add strict type check with mypy
  .pre-commit-config.yaml
  pyhaversion/base.py
  pyhaversion/container.py
  pyhaversion/haio.py
  pyhaversion/local.py
  pyhaversion/py.typed
  pyhaversion/pypi.py
  pyhaversion/supervisor.py
  pyhaversion/version.py
  pyproject.toml
  scripts/lint
Due: black, isort, check-ast, check-docstring-first, check-toml, pytest

Add strict type check with mypy (#154)
  .pre-commit-config.yaml
  pyhaversion/base.py
  pyhaversion/container.py
  pyhaversion/haio.py
  pyhaversion/local.py
  pyhaversion/py.typed
  pyhaversion/pypi.py
  pyhaversion/supervisor.py
  pyhaversion/version.py
  pyproject.toml
  scripts/lint
Due: black, isort, check-ast, check-docstring-first, check-toml, pytest

Move to ruff
  .devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  example.py
  poetry.lock
  pyhaversion/base.py
  pyhaversion/consts.py
  pyhaversion/container.py
  pyhaversion/haio.py
  pyhaversion/local.py
  pyhaversion/pypi.py
  pyhaversion/supervisor.py
  pyhaversion/version.py
  pyproject.toml
  scripts/lint
  tests/conftest.py
  tests/test_container.py
  tests/test_haio.py
  tests/test_local.py
  tests/test_pypi.py
  tests/test_supervisor.py
  tests/test_version.py
Due: black, isort, check-ast, check-docstring-first, check-json, check-toml, pytest

Move to ruff (#155)
  .devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  example.py
  poetry.lock
  pyhaversion/base.py
  pyhaversion/consts.py
  pyhaversion/container.py
  pyhaversion/haio.py
  pyhaversion/local.py
  pyhaversion/pypi.py
  pyhaversion/supervisor.py
  pyhaversion/version.py
  pyproject.toml
  scripts/lint
  tests/conftest.py
  tests/test_container.py
  tests/test_haio.py
  tests/test_local.py
  tests/test_pypi.py
  tests/test_supervisor.py
  tests/test_version.py
Due: black, isort, check-ast, check-docstring-first, check-json, check-toml, pytest

fix
  .pre-commit-config.yaml
  pyhaversion/__init__.py
  pyproject.toml
  tests/common.py
  tests/conftest.py
  tests/test_container.py
  tests/test_haio.py
  tests/test_pypi.py
  tests/test_supervisor.py
  tests/test_version.py
Due: black, isort, check-ast, check-docstring-first, check-toml, pytest

adjust
  tests/common.py
Due: black, isort, check-ast, check-docstring-first, pytest

Add testing with python 3.13
  .github/workflows/actions.yml
Due: none

Add testing with python 3.13 (#298)
  .github/workflows/actions.yml
Due: none

Add minimum permissions in workflows
  .github/workflows/actions.yml
  .github/workflows/release-drafter.yml
Due: none

Add minimum permissions in workflows (#299)
  .github/workflows/actions.yml
  .github/workflows/release-drafter.yml
Due: none

Set SHA for external actions
  .github/workflows/actions.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Due: none

Set SHA for all external actions (#300)
  .github/workflows/actions.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Due: none

Fix Release Drafter permissions
  .github/workflows/release-drafter.yml
Due: none

Add Python 3.14 to test CI
  .github/workflows/actions.yml
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

Update Renovate configuration with best practices
  renovate.json
Due: check-json

Update Renovate configuration with best practices (#460)
  renovate.json
Due: check-json

feat: expose release date from version tag_last_pushed data
  pyhaversion/container.py
  tests/const.py
  tests/fixtures/container/beta_week.json
  tests/fixtures/container/default.json
  tests/test_container.py
Due: black, isort, check-ast, check-docstring-first, check-json, pytest
